apiVersion: v1
kind: Secret
metadata:
  name: pallete-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "<<API_KEHY>>",
      "project_name": "<<PROJECT>>",
      "host": "api.spectrocloud.com"
    }
