apiVersion: v1
kind: Secret
metadata:
  name: pallete-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "XXXXXLydf9zN9yvA71pnZLyuxXXXXXX",
      "project_name": "Default",
      "host": "api.spectrocloud.com"
    }
